#homeContainer
{
    margin: 15px;
    font-size: x-large;
}
.am_svgContainer, .am_svgContainerMini
{
  position: relative;
  overflow: visible;
}
.am_svgContainer
{
    margin: auto;
    margin-top: 15px;
    height: 190px;
    width: 190px;
    overflow: visible;
}
.am_svgContainerMini
{
  width: 50px;
  height: 50px;
  margin: -15px 0px;
  display: inline-block;
}
.am_svg
{
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible!important;
}
.projectContent > p
{
    margin: 25px 0px;
}
#portrait
{
  float:left;
  margin:0 15px;
  width:150px;
}
.animate-hide
{
    -webkit-transition: all linear .5s;
    transition: all linear .5s;
    opacity: 1;
    max-height: 2000px;
    line-height: 1.5;

}
.animate-hide.ng-hide
{
    max-height: 0;
    opacity: 0;
    line-height: 0;
}
.demoFrame
{
    width: 600px;
    height: 750px;
    overflow: hidden;
    margin: 0 auto;
    display: block;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
}
.github{
    background-image: url("../assets/GitHub-Mark/PNG/GitHub-Mark-32px.png");
    width: 32px;
    height: 32px;
    display: inline-block;
}
.linkedin
{
    background-image: url("../assets/LinkedIn [in]/Screen/2-Color/In-2C-34px-R.png");
    width: 43px;
    height: 34px;
    display: inline-block;
}
.email
{
    width: 32px;
    height: 32px;
    display: inline-block;
    font-size: 32px;
}