<div class="container">
    <div class="jumbotron">
        <h1>GaeaGun</h1>
        <p>A 3D artillery game with terra-forming!</p>
        <p><a class="btn btn-primary" href="GaeaGun/AdrianMayorgaFinalDemo.zip">Download the source code and exe</a>~32MB</p>
    </div>
    <p>
        GaeaGun is a video game that I developed as the final game for my game technology class in undergrad, around 2007.
        While the executable still works, I don't think the code will compile unless you are using Visual Studio 2008.
        Below is the original website I created in all its old-school glory. Check it out below or go
        <a class="btn btn-primary" href="GaeaGun/index.html">here</a> to see it in its own page.
    </p>
    <div class="projectContent">

        <iframe style="width: 880px;height: 2800px" src="GaeaGun/index.html"></iframe>

    </div>
</div>