<div class="container">
    <div class="jumbotron">
        <h1>Origami</h1>
        <p>A collection of some of the things I've folded.</p>
    </div>
    <div class="projectContent">
        <p>
            Origami is the ancient Japanese art of paper folding. Traditionally, origami models are made from a single sheet of
            paper, and cutting is not allowed. I started folding origami before I knew how to read, and since then it's been a
            hobby that I always come back to throughout the years. While I have not designed many models myself, I do have
            considerable experience folding complex and some super complex models.
        </p>
        <p>
            There are many origami resources out there, but below are my favorite books:
        </p>
        <ul>
            <li>Origami for the Enthusiast - John Montroll</li>
            <li>Animal Origami for the Enthusiast - John Montroll</li>
            <li>Origami from Angelfish to Zen - Peter Engel</li>
            <li>Origami Design Secrets - Robert Lang</li>
            <li>Works of Satoshi Kamiya - Satoshi Kamiya</li>
        </ul>
        <h3>Here are some things I have folded (that I have good pictures of)</h3>
        <div class="row">
            <a target="_blank" href="assets/origami/bear.jpg" class="col-sm-6 col-md-4 col-lg-3">
                <div class="thumbnail">
                    <img src="assets/origami/bear.jpg">
                    <div class="caption">
                        <p>Fluffy - by Marc Kirschenbaum</p>
                    </div>
                </div>
            </a>
            <a target="_blank" href="assets/origami/chocobo.jpg" class="col-sm-6 col-md-4 col-lg-3">
                <div class="thumbnail">
                    <img src="assets/origami/chocobo.jpg">
                    <div class="caption">
                        <p>The Yellow Bird - by Satoshi Kamiya</p>
                    </div>
                </div>
            </a>
            <a target="_blank" href="assets/origami/dragon.jpg" class="col-sm-6 col-md-4 col-lg-3">
                <div class="thumbnail">
                    <img src="assets/origami/dragon.jpg">
                    <div class="caption">
                        <p>Eastern Dragon - by Joseph Wu</p>
                    </div>
                </div>
            </a>
            <div class="clearfix visible-md-block"></div>
            <a target="_blank" href="assets/origami/rose.jpg" class="col-sm-6 col-md-4 col-lg-3">
                <div class="thumbnail">
                    <img src="assets/origami/rose.jpg">
                    <div class="caption">
                        <p>Rose - by Toshikazu Kawasaki</p>
                    </div>
                </div>
            </a>
            <div class="clearfix visible-lg-block"></div>
            <a target="_blank" href="assets/origami/shark.jpg" class="col-sm-6 col-md-4 col-lg-3">
                <div class="thumbnail">
                    <img src="assets/origami/shark.jpg">
                    <div class="caption">
                        <p>Great White Shark - by Joseph Wu</p>
                    </div>
                </div>
            </a>
            <a target="_blank" href="assets/origami/star.jpg" class="col-sm-6 col-md-4 col-lg-3">
                <div class="thumbnail">
                    <img src="assets/origami/star.jpg">
                    <div class="caption">
                        <p>Star - by John Montroll</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>